<div class="site-userinfo-container">
    <div class="avatar-box">
        <a href="javascript:void(0);">
            <img src="/images/avatar.jpg" alt="" />
        </a>
    </div>
    <div class="site-meta">
        <a href="javascript:void(0);">ghost book</a>
        <p>这里是副标题</p>
    </div>
    <div class="site-count">
        <div class="count-item">
            <span class="layui-badge layui-bg-cyan">文章</span
            ><span class="layui-badge layui-bg-blue">23</span>
        </div>
        <div class="count-item">
            <span class="layui-badge layui-bg-cyan">标签</span
            ><span class="layui-badge layui-bg-blue">23</span>
        </div>
        <div class="count-item">
            <span class="layui-badge layui-bg-cyan">分类</span
            ><span class="layui-badge layui-bg-blue">23</span>
        </div>
    </div>
</div>
