.site-container {
    padding-right: 10px;

    .site-brand-container {
        background-color: #222;
        padding: 0 10px;
        .site-meta {
            padding: 20px 0;
            a {
                font-size: 24px;
                color: #fff;
                display: block;
                text-align: center;
                padding: 5px 0;
            }
            p {
                color: #ddd;
                text-align: center;
            }
        }
    }

    .site-nav {
        padding: 10px 0 10px 15px;
        background-color: #fff;
        a {
            font-size: 14px;
            display: block;
            height: 25px;
            line-height: 25px;
            margin-bottom: 5px;
            color: #555;

            i {
                color: #555;
            }
        }
    }

    .site-userinfo-container {
        background-color: #fff;
        padding: 10px;
        margin-top: 10px;
        .avatar-box {
            display: flex;
            justify-content: center;
            img {
                width: 120px;
                height: 120px;
                border-radius: 50%;
            }
        }

        .site-meta {
            padding: 20px 0;
            a {
                font-size: 24px;
                color: #555;
                display: block;
                text-align: center;
                padding: 5px 0;
            }
            p {
                color: #999;
                text-align: center;
            }
        }

        .site-count {
            display: flex;
            justify-content: space-around;
            .count-item {
                .layui-badge {
                    border-radius: 0;
                    text-align: center;
                }
            }
        }
    }
}

.article-container {
    padding-top: 10px;
    .article-list {
        .article-item {
            background-color: #fff;
            padding: 30px 0 30px 20px;
            margin-bottom: 10px;
            border-radius: 8px;
            .title {
                i {
                    font-size: 22px;
                    color: red;
                }
                a {
                    color: #1f2d3d;
                    font-size: 22px;
                }
            }

            .time {
                color: #858585;
                margin: 10px 0;

                .link {
                    font-size: 12px;
                    color: #858585;
                    &:hover {
                        color: #49b1f5;
                        text-decoration: underline;
                    }
                }
            }

            .desc {
                color: #4c4948;
            }
        }
    }
}

#article-page {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: #49b1f5;
    margin-top: 10px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    .footer-wrapper {
        color: #eee;
        .copyright {
            font-size: 12px;
        }
    }
}
